@charset "utf-8";
body, h1, h2 {margin:0px; font-family:Helvetica,Arial,sans-serif; font-weight:normal}
h1, h2{background-color:#8ac007; padding:10px}

.container, .menu {text-align:center; margin:0px auto 0px auto}
.container {min-height:480px}
#camera, #playback {margin:auto}
#playback {display:none}

video, button {-webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s}
video {width:640px; height:480px; -ms-transform-origin:center top 0; -webkit-transform-origin:center top 0; transform-origin:center top 0}
.cam-pulse{-webkit-animation:pulse 1s infinite;animation:pulse 1s infinite}

button {width:80px; height:80px; background-repeat:no-repeat; border:none; cursor:pointer; display:none; margin:auto}
button:hover {background-color:black}
#btn-rewind {background-image:url(../images/icon-rewind.png)}
#btn-record {background-image:url(../images/icon-record.png)}
#btn-cancel {background-image:url(../images/icon-cancel.png)}

@-webkit-keyframes pulse{
	0%{background-color:red}
	25%{background-color:white}
	50%{background-color:red}
	100%{background-color:white}
}
@keyframes pulse{
	0%{background-color:red}
	25%{background-color:white}
	50%{background-color:red}
	100%{background-color:white}
}