@charset "utf-8";
body, h1, h2 {font-family:Helvetica,Arial,sans-serif; font-weight:normal; margin:0px; padding:0px; overflow-x:hidden}
h1, h2 {background-color:#8ac007}

.container{width:1280px; height:800px; margin:0px auto 0px auto; text-align:center; -ms-transform-origin:center top 0; -webkit-transform-origin:center top 0; transform-origin:center top 0; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s}
video {width:1280px; height:720px; margin:0px; padding:0px; float:left}
.cam-pulse{-webkit-animation:pulse 1s infinite; animation:pulse 1s infinite}
#playback {display:none}

.menu {width:1280px; height:80px; line-height:80px; margin:0px; padding:0px; float:left}
button {width:80px; height:80px; background-repeat:no-repeat; background-position:center; background-color:#f3f3f3; border:none; cursor:pointer; margin:auto; padding:0px; display:none}
button:hover {background-color:black}
#btn-rewind {background-image:url(../images/icon-rewind.png)}
#btn-record {background-image:url(../images/icon-record.png)}
#btn-cancel {background-image:url(../images/icon-cancel.png)}

@media handheld,only screen and (min-width:0) and (max-width:1280px),only screen and (max-device-width:1280px){
	.container {-ms-transform-origin:left top 0; -webkit-transform-origin:left top 0; transform-origin:left top 0}
}
@-webkit-keyframes pulse{
	0%{background-color:red}
	25%{background-color:white}
	50%{background-color:red}
	100%{background-color:white}
}
@keyframes pulse{
	0%{background-color:red}
	25%{background-color:white}
	50%{background-color:red}
	100%{background-color:white}
}